// Bootstrap import
@import "vendors/bootstrap";

//Font import
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.typekit.net/kfl1fxx.css");

// Declare vars
$main-font: 'Bebas Neue', cursive;
$secondary-font: 'museo-sans', sans-serif;

// Navigation style
nav {
  //.active {
  //  font-weight: bold; // will change this to underline
  //}
  a{
    font-size: 23px;
    font-family: $secondary-font;
  }
  a:nth-child(1):hover ~ hr{
    margin-left: -25%;
  }
  a:nth-child(2):hover ~ hr{
    margin-left: -25%;
  }
  a:nth-child(3):hover ~ hr{
    margin-left: -25%;
  }
  hr {
    height: .25rem !important;
    width: 25%;
    margin: 0;
    background: black;
    border: none;
    transition: .3s ease-in-out;
    opacity: 1;
  }
}
.logo-text{
  font-family: $main-font;
  font-size: 72px;
  text-align: center;
}
.main-page-heading{
  font-family: $main-font;
  font-size: 42px;
}

.main-page-hero-image{
  background-image: url("../images/hero_image.jpeg");
  background-position: center;
  background-size: contain;
}
div{
  p{
    font-family: $secondary-font;
  }
}
