// Bootstrap import
@import "vendors/bootstrap";

//Font import
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.typekit.net/kfl1fxx.css");

// Declare vars
$main-font: 'Bebas Neue', cursive;
$secondary-font: 'museo-sans', sans-serif;

// Navigation style
nav {
  //.active {
  //  font-weight: bold; // will change this to underline
  //}
  a{
    font-size: 23px;
    font-family: $secondary-font;
  }
  .navigation-dot{
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  a:nth-child(1):hover ~ .navigation-dot {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

  a:nth-child(2):hover ~ .navigation-dot {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

  a:nth-child(3):hover ~ .navigation-dot {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
}
.logo-text{
  font-family: $main-font;
  font-size: 72px;
  text-align: center;
}
// Home page body elements
.main-page-heading{
  font-family: $main-font;
  font-size: 42px;
}

.main-page-hero-image{
  background-image: url("../images/hero_image.jpeg");
  background-position: center;
  background-size: contain;
}
div{ // Might be able to override this in variables
  p{
    font-family: $secondary-font;
  }
}
